!!! 5
html
    head

        // META goes here

        //meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        // CSS goes here

        link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')      
        link(rel='stylesheet', type='text/css', href='css/cmxcanvas.css')
        
        // JS goes here
        
        script(data-main='js/app.frontend', src='js/libs/require.js')


        // Extensions go here

    body
        #MAIN
        #CmxCanvas

